{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 14,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
  "env": {
    "es2021": true,
    "node": true
  },
  "rules": {
    "no-console": "off"
  }
}
